<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuangji.paopao.mapper.ConsultantRateMapper">
  <resultMap id="BaseResultMap" type="com.kuangji.paopao.model.consultant.ConsultantRate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="consultant_id" jdbcType="INTEGER" property="consultantId" />
    <result column="platform_rate" jdbcType="TINYINT" property="platformRate" />
    <result column="channel_rate" jdbcType="TINYINT" property="channelRate" />
    <result column="consultant_rate" jdbcType="TINYINT" property="consultantRate" />
    <result column="partner_rate" jdbcType="TINYINT" property="partnerRate" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_dt" jdbcType="TIMESTAMP" property="createDt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, consultant_id, platform_rate, channel_rate, consultant_rate, partner_rate, type, 
    status, remark, create_dt
  </sql>
  <select id="getFirstConsultantRate" resultType="com.kuangji.paopao.model.consultant.ConsultantRate">
    SELECT <include refid="Base_Column_List"></include>
    FROM
    consultant_rate
    WHERE
    consultant_id = #{consultantId}
    AND
    type = 1
  </select>
  <select id="getSecondConsultantRate" resultType="com.kuangji.paopao.model.consultant.ConsultantRate">
    SELECT <include refid="Base_Column_List"></include>
    FROM
    consultant_rate
    WHERE
    consultant_id = #{consultantId}
    AND
    type = 2
  </select>
</mapper>