<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuangji.paopao.mapper.MemberMapper">
  <resultMap id="BaseResultMap" type="com.kuangji.paopao.model.Member">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="marital_status" jdbcType="BIT" property="maritalStatus" />
    <result column="occupation" jdbcType="VARCHAR" property="occupation" />
    <result column="send_word" jdbcType="VARCHAR" property="sendWord" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, user_id, marital_status, occupation, send_word, insert_time, update_time, is_delete
  </sql>
  <select id="getChannelUserId" resultType="java.lang.Integer">
    SELECT
    consultant.`user_id` from
    `member`,`consultant`
    where
    member.`spread_url` = consultant.`spread_url`
    and
    member.`user_id`=#{userId}
  </select>

</mapper>