<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuangji.paopao.mapper.SubCommissionRecordMapper">
  <resultMap id="BaseResultMap" type="com.kuangji.paopao.model.consultant.SubCommissionRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="consultant_user_id" jdbcType="INTEGER" property="consultantUserId" />
    <result column="member_user_id" jdbcType="INTEGER" property="memberUserId" />
    <result column="total_mount" jdbcType="INTEGER" property="totalAmount" />
    <result column="platform_rate" jdbcType="TINYINT" property="platformRate" />
    <result column="platform_amount" jdbcType="INTEGER" property="platformAmount" />
    <result column="channel_rate" jdbcType="TINYINT" property="channelRate" />
    <result column="channel_amount" jdbcType="INTEGER" property="channelAmount" />
    <result column="consultant_rate" jdbcType="TINYINT" property="consultantRate" />
    <result column="consultant_amount" jdbcType="INTEGER" property="consultantAmount" />
    <result column="partner_rate" jdbcType="TINYINT" property="partnerRate" />
    <result column="partner_amount" jdbcType="INTEGER" property="partnerAmount" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_dt" jdbcType="TIMESTAMP" property="createDt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, order_id, consultant_user_id, member_user_id, total_amount, platform_rate, platform_amount,
    channel_rate, channel_amount, consultant_rate, consultant_amount, partner_rate, partner_amount,
    type, status, remark, create_dt
  </sql>
</mapper>